@font-face {
    font-family: "Bonkers";
    src: url(../fonts/Bonkers.ttf);
}

.header {
    padding: 18px 0;
    display: flex;
    align-items: center;
    

    img {
        max-width: 150px;
        margin-left: 64px;
        margin-right: 300px;
        cursor: pointer;
    }

    .menu {
        // padding-right: 32px;
        &__list {
            display: flex;

            &__item {
                margin-right: 100px;
                cursor: pointer;
                position: relative;
                padding: 5px;

                
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 0;
                    height: 3px;
                    background-image: linear-gradient(90deg, rgb(238, 69, 69), rgb(72, 248, 72), rgb(63, 63, 236));
                    transition: width .3s ease-in-out;
                    -webkit-transition: width .3s ease-in-out;
                }

                &:hover::after {
                    width: 100%;
                    height: 3px;
                }
            }
            
            a {
                color: #eee;
                font-family: "Bonkers", sans-serif;
                text-transform: lowercase;
                font-size: 15px;
            }
        }
    }
}
