.hero {
    max-height: calc(100vh - 108.06px);
    max-width: 1024px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        // max-width: 950px;
        // border-radius: 10px;
        // box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.1);
        // // filter: blur(1px);
    }
}
