@use 'variables';
@use 'header';
@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: variables.$mainColorText;
}

.container {
    background-color: #000;
    height: 100svh;
    width: 100svw;
    // background-image: url(../imgs/Post01.png);
    // background-size: cover;
}

.main {
    background-color: variables.$mainColorBack;
}
